=title "Qiwicoin Transaction #{bin_to_hex(@tx.tx_hash)}"

=description "View information about an qiwicoin transaction #{bin_to_hex(@tx.tx_hash)}"


.container
  .row-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2
        TRANSACTION
        %small View information about an qiwicoin transaction

.container
  .row-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .table-responsive
        .transactions
          %table.table.table-striped
            %tr
              %th{colspan: "3"}
                = link_to bin_to_hex(@tx.tx_hash), tx_detail_path(@tx.id)
            %tr
              %td.hidden-xs.hidden-sm
                - @tx.txin_details.each do |txin_detail|
                  - if txin_detail.pubkey_hash.present?
                    = link_to txin_detail.pubkey.encoded_address, address_detail_path(txin_detail.pubkey.id)
                  - else
                    %b No Inputs (Newly Generated Coins)
                  %br/
              %td.hidden-xs.hidden-sm
                = image_tag("arrow_right_green.png")
              %td
                - @tx.txout_details.each do |txout_detail|
                  = link_to txout_detail.pubkey.encoded_address, address_detail_path(txout_detail.pubkey.id)
                  %span.pull-right
                    %span= num_format(txout_detail.txout_value)
                    = render 'currency/show'
                  %br/

.container
  .row-fluid.margin-20
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .table-responsive
        %table.table.table-striped
          %tr
            %th{colspan: "2"} Summary
          %tr
            %td Size
            %td
              = @tx.tx_size
              (bytes)
          %tr
            %td Received Time
            %td= @tx.block.time_to_string

          %tr
            %td Included In Block
            %td= block_height_link(@tx.block)



    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      - if @tx.txin_details.size > 0 && @tx.txin_details.first.txin_value.present?
        .table-responsive
          %table.table.table-striped
            %tr
              %th{colspan: "2"} Inputs and Outputs
        
            %tr
              %td 
                Number Of Inputs
              %td= @tx.txin_details.size

            %tr
              %td 
                Number Of Outputs
              %td= @tx.txout_details.size  

            %tr
              %td 
                Total Input
              %td
                - in_sum = @tx.txin_details.sum(:txin_value)
                = num_format in_sum
                = render 'currency/show'     

            %tr
              %td 
                Total Output
              %td
                - out_sum = @tx.txout_details.inject(0) {|sum, txout_detail| sum + txout_detail.txout_value}
                = num_format(out_sum)
                = render 'currency/show'     

            %tr
              %td Fees
              %td
                = num_format(in_sum - out_sum)
                = render 'currency/show'     



